<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            © 2017 mkyong.com
            <span th:if="${auth}">
                | Logged user: <span th:text="${auth.username}"></span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </span>


        </footer>
    </div>
    <script type="text/javascript" src="../../assets/js/app.js"></script>
</div>
</body>
</html>